.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.form-control input,
.form-control textarea {
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 2px;
}

.form-control input:focus,
.form-control textarea:focus {
  outline-color: #00695c;
}

input.invalid, textarea.invalid{
  border: 1.25px solid rgb(225, 20, 20);
  border-radius: 2px;
  outline-color: rgb(226, 12, 12) !important;
}

input.valid, textarea.valid {
  background-color: rgba(0, 250, 154, 0.4);
  border: 1.25px solid #228B22;
  border-radius: 2px;
}