.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
    position: relative;
}

.product-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}

.upload-button {
    display: inline !important;
    width: auto !important;
    position: absolute;
    left: 92%;
    top: 24.25%;
    color: #276a45;
    background-color: rgb(250, 250, 250);
    border-left: 1px solid gainsboro; 
    padding: 0px 4px;
    border-radius: 2px;

}